<!-- The Content Heading -->
<% if (title) { %>
        <head>
            <%- include ('../partials/head') %>
        </head>

        <body>
            <%- include('../partials/header') %>
            <main class="error-main">
            <h1><%= title %></h1>
            <%# messages() %>
            
            <h2>Sorry, we appear to have lost that page.</h2>
            </main>
            <%- include('../partials/footer') %>
        </body>
    <% } else { res.redirect('/') } %>
        <!-- A Message Block -->
